
body{
    margin: 0;
    box-sizing: border-box;
}
button{
    background-color: #3882f6;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
/* first-section */
.first-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-left: 192px;
    padding-right: 192px;
}
/* first-section's header */
.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}
.first-section .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
li{
    list-style-type: none;
}
/* first-section's content */
.hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
.hero-secondary-text, .header-link a{
    font-size: 18px;
    color: #e5e7eb;
}
.first-section .content{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}
.first-section .description{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 450px;
}
.first-section .sign-up-button{
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border:none;
}
.sign-up-button a{
    color: white;
}
.content img{
    flex-grow: 1;
    max-height: 215px;
}
/* second-section */
.second-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 192px;
    padding-right: 192px;
}
.second-section .intro{
    padding-top: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 40px;
}
.second-section .information-div{
    flex-grow: 1;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}
.information-div .information{
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    gap: 10px;
}

.illustration{
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.subtext{
    text-align: center;
}
/* third section */
.third-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 230px;
    padding-right: 230px;
    background-color: #e5e7eb;
}
.quote{
    font-size:  36px;
    font-style: italic;
    color: #1f2937;
}
.author{
    font-weight: bolder;
    text-align: right;
    padding-right: 20px;
    font-size: 24px;
}

/* fourth-section */
.fourth-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.action{
    flex-grow: 1;
    padding-left: 192px;
    padding-right: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal{
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
}
.modal .header{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.modal .detail{
    color: #f9faf8;
    font-size: 18px;
}
.modal .sign-up-button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #f9faf8;
    font-size: 18px;
    color: #f9faf8;
    border-radius: 10px;
}
.footer{
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #f9faf8;
    text-align: center;
}



